body {  
      background-color: #f4f1de;
      margin: 0;
      font-family: 'Poppins', sans-serif;
      color: #bb602c;
      padding-left: 25px;
}

.left, .right, .middle {
      float: left;
      width: 30%;
      color: #bb602c;
      padding: 10px;
      height: 1000px;
      text-align: left;
   }
   .left {
      background-color: tomato;
   }
   .right {
      background-color: teal;
   }
   .middle {
    background-color: greenyellow;
   }

   .container:after {
      clear: both;
   }