body{
	background-color: lightyellow;
	color: darkorchid;
}

/*top comes from the id established on the html page*/
#top{
	color: darkgreen;
}

div{
	background: orangered;
	width: 500px;
}

span{
	color: darkseagreen;
}


/*-- STYLING LINKS WITH NO UNDERLINE! THE ORDER OF LINK-VISITED-HOVER-ACTIVE IS IMPORTANT --*/
a:link {
  color: darkorchid;
  text-decoration: none;
}

a:visited {
  color: darkorchid;
  text-decoration: none;
}

a:hover {
  color: darkgreen;
  text-decoration: none;
}

a:active {
  color: darkorchid;
  text-decoration: none;
}


.degrassi{
	background-color: skyblue;
	color: darkblue;
}

.outer{
	width: 400px;
	height: 400px;
	background-color: darkseagreen;
}

.inner{
	width: 50%;
	height: 50%;
	background-color: lightgreen;
}

.sully{
	width: 100vw;
	height: 100vh;
	background-color: powderblue;
}

.mike{
	width: 50vw;
	height: 100vh;
	background-color: greenyellow;
}