body{
	background-color: #f1a8da;
  margin: 50px;
}

img {max-width: 440px;
     max-height: 440px;}

.text {
  background-color: #f0a8da;
}

h1 {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  font-size: 48px;
  color: black;
}

h3 {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  font-size: 24px;
 /* background-color: white;
  border-style: double;
  height: 30px;
  padding-top: 7px;*/
}

p{
 font-family: 'Carter One', cursive;
 text-align: center;
 font-size: 16px;
}

p:hover {
  color: #a53664;
}

.container {
  background-color: #f0a8da;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right:200px;
  padding-left:200px;
  min-height: 200px;
}

.item1 {
  padding-top: 80px;
}

