body {  
	font-family: 'Alfa Slab One', cursive;
	background-color: #E8D2BE;
}

h1 {
	font-family: 'Alfa Slab One', cursive;
	font-size: 5vw;
	font-weight: lighter;
	text-align: center;
	color: whitesmoke;
	letter-spacing: 3px;
	-webkit-text-stroke: 2px #b60202;
}

img {width: 200px;
     height: 200px;
     max-width: 100%;
}

p {
   font-family: 'Bitter', serif;
   line-height: 1.5;
   -webkit-text-stroke: 1px;
   text-align: center;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding:10px;
     min-height: 200px;
}
.jump {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-right: 20px;
	padding-left: 60px;
     min-height: 50px;
}