body {
 background-color: #647e6b;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.squares {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.button1 {
  background-color: #8DDBE0;
  color: white;
  font-size: 30px;
  padding: 30px;
  height: 40vh;
  width: 40vh;
}
.button2 {
  background-color: #4B5043;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 40vh;
  width: 40vh;
}
.button3 {
  background-color: #D3FFE9;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 40vh;
  width: 40vh;
}
.button4 {
  background-color: #9BC4BC;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 40vh;
  width: 40vh;
}
.button5 {
  background-color: #090909;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 40vh;
  width: 40vh;
}
.button6 {
  background-color: #4B5043;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 40vh;
  width: 40vh;
}
.button7 {
  background-color: #D3FFE9;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 40vh;
  width: 40vh;
}
.button8 {
  background-color: #8DDBE0;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 40vh;
  width: 40vh;
}
.button9 {
  background-color: #9BC4BC;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 40vh;
  width: 40vh;
}
