body {
 background-color: #647e6b;
 margin: 200px;
 padding: 100;
 box-sizing: border-box;
}

.button {
  display: grid;
  max-height: 400px;
  max-width: 400px;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.button1 {
  background-color: #8DDBE0;
  color: white;
  font-size: 30px;
  padding: 30px;
  height: 20vh;
  width: 20vh;
}
.button2 {
  background-color: #4B5043;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 20vh;
  width: 20vh;
}
.button3 {
  background-color: #D3FFE9;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 20vh;
  width: 20vh;
}
.button4 {
  background-color: #9BC4BC;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 20vh;
  width: 20vh;
}
.button5 {
  background-color: #090909;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 20vh;
  width: 20vh;
}
.button6 {
  background-color: #4B5043;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 20vh;
  width: 20vh;
}
.button7 {
  background-color: #D3FFE9;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 20vh;
  width: 20vh;
}
.button8 {
  background-color: #8DDBE0;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 20vh;
  width: 20vh;
}
.button9 {
  background-color: #9BC4BC;
  color: white;
  font-size: 30px;
  padding: 30px;
   height: 20vh;
  width: 20vh;
}
