
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
}

.container {
  z-index: 0;
}

.slider {
  z-index: 1;
  margin-top: 2em;
  -webkit-appearance: none;  
    appearance: none;
    width: 500px; 
    height: 50px; 
    background: white; 
    outline: none; 
    -webkit-transition: .2s; 
    transition: all .2s;
}


.slider {
  z-index: 1;
  margin-top: 2em;
  border: 1px solid black;
  }


.slider:hover {
  opacity: 1; 
  background-color: lightpink;
  border: 1px solid black;
}
