body{
	background-color: whitesmoke;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}



/*NAVIGATION BAR*/

.topbar{
  /*background-color: #321F15ff;*/
  background-color: limegreen;
  display: block;
  /*float: left;*/
  padding: 14px 16px;
  width: 100%;
  position: fixed;
  text-decoration: none;
  z-index: 1;
}

/*.nav{
  background-color: beige;
  display: block;
  float: left;
  padding: 14px 16px;
  position: fixed;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}*/

.leftlinks{
  word-spacing: 40px;
  width: 50%;
  float: left;
}

.rightlink{
  text-align: right;
  float: right;
}

#spotifyimage{
  width: 25px;
  margin-right: 50px;
}



/*LINK COLORS AND STYLE*/

a:link {
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: #B89474ff;
  font-size: 20px;
  text-decoration: none;
}

a:active {
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
}


/*SECTIONS */

section{
  height: 100vh;
}


/*SECTION TOP: VIDEO PREVIEW FULL SCREEN */

.top {
  /*background-color: lawngreen;*/
  width: 100vw;
}

.headervid{
  position: absolute;
  opacity: 100%;
  z-index: -1;
  /*width: 50%;*/
}

#clip {
  width: 100%;
}


.about{
  background-color: tomato;
}

.description{
  display: flex;
  text-align: center;
  color: black;
  word-spacing: 1.5px;
  font-size: 20px;
  /*width: 75%;*/
}


/*SECTION SONGS: ALL THE SONGS*/


.songs{
  background-color: #E5CCB1;
  overflow: hidden;
}

.songtitles {
  display: flex;
  position: relative;
  /*top: 0;
  left: 0;*/
  padding-top: 40px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 800px;
  white-space: nowrap;
  transform: scale(2);
  transition: all 1s ease;
  animation: scrollText 60s infinite linear;
}

h1 {
  margin: 0;
  font-size: 23px;
  color: #321F15ff;
  transition: all 2s ease;
}

/*div:hover {
  animation-play-state: paused;
}
*/

@keyframes scrollText {
  from   { transform: translateX(-50%); }
  to { transform: translateX(0%); }
}


/*SECTION VIDEO: VIDEO*/

.video{
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*SECTION SURVEY: SURVEY*/

.survey{
  background-color: #E5CCB1;
}


/*BACK TO THE TOP*/

#back{
  /*padding-top: 780px;*/
  padding-left: 15px;
  text-align: center;

}



