body{
	
}

.button { 
	padding-top: 200px;
    padding-left: 85px;

}

.button1 {
  color: #fb2900;
}

.button2 {
  color: #0071bc;
  padding-top: 250px;
}

.button3 {
  color: #f4d14c;
  padding-top: 200px;
}

.button4 {
  color: #3b9c30;
  padding-top: 200px;
}