body {  
      background-color: #F6F4F2;
      color: black;
      margin: 20px;
}



.nav {
    padding-bottom: 25px;
    background-color: steelblue;
    display: grid;
    grid-auto-flow: row;
}

ul
{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

li{
    float: left;
    word-spacing: 10px;
}








/*
.photo-grid
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid{
    display: grid;
    width: 60vw;

    grid-gap: 10px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 20vw 20vw 20vw;
    grid-auto-flow: row;
    background-color: tomato;
}

.box {
    border-radius: 5px;
    height: 20vh;
    width: 20vw;
}*/


/*.grid .box {
    position: relative;
    overflow: hidden;
}

.box .captions {
  margin: 0;
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  transition: transform 0.5s;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
}

.grid .box:hover .captions {
  transform: translateY(0%);
}
*/




/*
.top {
    padding-left: 32px;
    padding-top: 12px;
    font-size: 32px;
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-left: 32px;
    padding-right: 16px;
}

.lefttext {
    padding-right: 60px;
}

.rightcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
*/